Brotli
certifi
chardet
click
dash
dash_bootstrap_components
dash-core-components
dash-html-components
dash-renderer
dash-table
DateTime
Flask
Flask-Compress
Flask-SQLAlchemy
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pip-chill
plotly
psycopg2
python-dateutil
pytz
requests
retrying
six
urllib3
Werkzeug
zope.interface

