brotli
certifi
chardet
click
cycler
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
flask
flask-compress
future
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
requests
retrying
scipy
six
urllib3
Werkzeug